doctype html
html
  head
    title= 'jsapi demo'
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/demo.js')
  body
    .pure-menu.top-menu
      ul.pure-menu-list.pure-menu-horizontal
        li.pure-menu-item.pure-menu-selected
          span.up-arw
          a.pure-menu-link(href='#') 项目设定
        li.pure-menu-item
          a.pure-menu-link(href='#') 任务管理
        li.pure-menu-item
          a.pure-menu-link(href='#') 数据查询

    .top-menu-space

    a.pure-button(href='new-item').right-space 新建项目
    a.pure-button(href='items') 项目管理
    .bottom-space

    hr

    .bottom-space
      button.pure-button 新建任务
      button.pure-button 任务管理

    hr

    table.pure-table.pure-table-horizontal
      thead
        tr
          td 姓名
          td 项目
          td 评分人
          td 分数
      tbody
        tr
          td 张三
          td
          td 总计
          td 19分
        tr
          td 张三
          td 技术
          td 平均
          td 9分
        tr
          td 张三
          td 技术
          td 李四
          td 9分

    h1= title
    //- .pure-form.pure-form-stacked
    //-   fieldset
    //-     legend 添加新评分
    //-     label 标题
    //-     input(type='text' name='title')
    //-     label 描述
    //-     textarea(name='description')
    //-   input(type='hidden' name='itemsId' value='{1, 2}')
    //-   .bottom-space
    //-     button.pure-button(onclick='choosePeople(\'markers\')') 选择评分人
    //-   .bottom-space
    //-     button.pure-button(onclick='choosePeople(\'berateds\')') 选择被评分人
    //-   input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark')

    //- hr

    //- .pure-form.pure-form-stacked
    //-   fieldset
    //-     legend.top-space 添加新评分项
    //-     label 评分项描述
    //-     input(type='text' name='description')
    //-     label 总分值
    //-     input(type='text' name='totalValue')
    //-   input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark-item')
