doctype html
html
  head
    title= 'jsapi demo'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript") var _config = !{config};
    script(type='text/javascript', src='//g.alicdn.com/dingding/open-develop/0.8.4/dingtalk.js')
    script(type='text/javascript', src='/javascripts/demo.js')
  body
    h1= title
    .post
      label 标题
      input(type='text' name='title')
      label 描述
      input(type='text' name='description')
      input(type='hidden' name='itemsId' value='{1, 2}')
      input(type='hidden' name='markers' value='[{"emplId":"222222","name":"测试人"}]')
      input(type='hidden' name='berateds' value='[{"emplId":"222222","name":"测试人"}]')
      button(onclick='choosePeople(\'markers\')') 选择评分人
      button(onclick='choosePeople(\'berateds\')') 选择被评分人
      input(type='submit' value='提交' data-url='/api/v1/new-mark')
