doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript') var _id = #{itemId};
    script(type='text/javascript', src='/javascripts/item-info.js')
  body

    include includes/top-menu.pug

    .pure-form.pure-form-stacked
      fieldset
        legend 考核项 #{itemId}
        label 名称
        input(type='text' name='title')
        label 描述
        textarea(name='description')
        label 评分标准
        textarea(name='grading')
      .bottom-space.right
        button.pure-button(onclick='app.save();') 保存修改
        a.pure-button(href='/items') 返回