doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/items.js')
  body

    include includes/top-menu.pug

    a.pure-button(href='new-item') 新建项目

    .bottom-space

    .loading
      span 正在加载已有项目列表, 请稍等.
