doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript') var _id = #{markId};
    script(type='text/javascript', src='/javascripts/mark.js')
  body.mark-page

    h2 请等待数据加载.

    .pure-form.pure-form-stacked

    p 评分完毕可直接关闭此页面