doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/mark.js')
  body

    include includes/top-menu.pug

    .pure-form.pure-form-stacked
      fieldset
        legend 任务编号 #{markId}
        label 任务标题
        input(type='text' name='title')
        .bottom-space
        label 被考核人
        ul
          li 张三
          li 李四
        button.pure-button(onclick='choosePeople(\'markers\')') 选择被考核人
        .bottom-space
        label 考核项目
          i.fa.fa-plus-circle.add-item

        fieldset.left-space
          legend 考核项一
          label 分值
          input(type='text' name='title')
          .bottom-space
          label 评分人
          ul
            li 张三
            li 李四
          button.pure-button(onclick='choosePeople(\'markers\')') 选择评分人
      hr
      .bottom-space
      button.pure-button.right-space(onclick='#') 另存为
      button.pure-button.pure-button-primary.right-space(onclick='#') 保存修改
      a.pure-button(href='/marks') 返回

    .end
