doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/marks.js')
  body

    include includes/top-menu.pug

    a.pure-button(href='/new-mark') 新建任务

    .display-line.marks
      .loading 资料正在载入中, 请稍等.
