doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript') var _id = #{markId};
    script(type='text/javascript', src='/javascripts/mark-info.js')
  body

    include includes/top-menu.pug

    .loading
      span.text 处理中, 请稍等.
      .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5

    .pure-form.pure-form-stacked
      fieldset
        legend 任务编号 #{markId}
        label 任务标题
        input(type='text' name='title')
        .bottom-space
        label 被考核人
        ul(id='players')
        button.pure-button(onclick='app.selectPlayers();') 重新选择被考核人
        .bottom-space

        label 考核项目
        .select-items
        .bottom-space
        button.pure-button(onclick='app.displayAllItems();')
          i.fa.fa-plus-circle
          span  新增考核项
      hr
      .bottom-space
      .button-list
        button.pure-button.right-space(onclick='app.saveAnother();') 另存为
        button.pure-button.pure-button-primary.right-space(onclick='app.submit();') 保存修改
        button.pure-button.right-space(onclick='app.deleteMark();') 删除任务
        button.pure-button.right-space(onclick='app.dingMarkers();') 发钉通知
        a.pure-button(href='/marks') 返回
    .end

    .all-items.hidden
      span.top(onclick='app.hideAllItems();') 关闭
      .loading
        span 正在加载已有项目列表, 请稍等.
      ul
      span.bottom(onclick='app.hideAllItems();') 关闭
