doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/mark.js')
  body

    .pure-menu.top-menu
      ul.pure-menu-list.pure-menu-horizontal
        li.pure-menu-item
          a.pure-menu-link(href='#') 项目设定
        li.pure-menu-item.pure-menu-selected
          span.up-arw
          a.pure-menu-link(href='#') 任务管理
        li.pure-menu-item
          a.pure-menu-link(href='#') 数据查询
    .top-menu-space

    span #{markId}

    .pure-form.pure-form-stacked
      fieldset
        legend.top-space 为 *** 评分
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
      input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark-item')

      fieldset
        legend.top-space 为 *** 评分
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
        label 评分项描述(分值: 10)
        input(type='text' name='totalValue')
      input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark-item')

    p 评分完毕可直接关闭此页面