doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/new-item.js')
  body

    include includes/top-menu.pug

    .pure-form.pure-form-stacked
      fieldset
        legend 添加新考核项
        label 名称
        input(type='text' name='title')
        label 描述
        textarea(name='description')
        label 评分标准
        textarea(name='grading')
      .bottom-space.right
        button.pure-button(onclick='#') 继续添加
        button.pure-button(onclick='#') 保存
        a.pure-button(href='items') 返回