doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/new-item.js')
  body

    include includes/top-menu.pug

    .pure-form.pure-form-stacked
      fieldset
        legend 添加新考核项
        label 名称
        input(type='text' name='title')
        label 描述
        textarea(name='description')
        label 评分标准
        textarea(name='grading')

      .bottom-space

      button.pure-button.right-space(onclick='app.addAnother();') 保存并继续添加
      button.pure-button.right-space(onclick='app.save();') 保存
      a.pure-button(href='items') 返回
