doctype html
html
  head
    title= title
    include includes/head.pug
    script(type='text/javascript', src='/javascripts/results.js')
  body

    include includes/top-menu.pug

    .display-line.marks
      .loading 资料正在载入中, 请稍等.
