body {
  padding: 40px 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bottom-space {
  margin-bottom: 1em;
}

.right-space {
  margin-right: 1em;
}

.bottom-space button {
  margin-right: 1em;
}

.bottom-space.right {
}

legend {
  font-size: 1.2em;
}

legend.top-space {
  padding-top: 1.6em;
}

.hidden {
  display: none;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-menu .pure-menu-item {
  width: 33.33%;
  background-color: #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #888;
}

.top-menu a {
  text-align: center;
  padding: 1em;
}

.up-arw {
  border-color: #888 transparent;
  border-style: solid;
  border-width: 0 6px 6px 6px;
}

.top-menu .up-arw {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}

.top-menu-space {
  height: 2em;
}

button.not-button {
  background: none;
  padding-left: 0;
  padding-right: 0;
  white-space: pre-wrap;
  text-align: start;
}

.display-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5em auto;
}

.test-div {
  align-self: flex-end;
}

label::after {
  content: ':';
}

/*i.custom {
  height: 1.2em;
  width: 1.2em;
  color: white;
  background-color: #909090;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font: 1em all-petite-caps;
  line-height: 1.5em;
}*/

i.add-item {
  font-size: 1.5em;
  padding: 0.5em;
}
