.fadeIn {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 1.8s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.loading > span {
  position: absolute;
  padding-bottom: 90px;
}

.spinner {
  padding-top: 10px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;

  margin: 2px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

body {
  padding: 40px 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

.bottom-space {
  margin-bottom: 1em;
}

.right-space {
  margin-right: 1em;
}

.left-space, fieldset.left-space {
  margin-left: 2em;
}

legend {
  font-size: 1.2em;
}

legend.top-space {
  padding-top: 1.6em;
}

.hidden {
  display: none;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-menu .pure-menu-item {
  width: 33.33%;
  background-color: #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #888;
}

.top-menu a {
  text-align: center;
  padding: 1em;
}

.up-arw {
  border-color: #888 transparent;
  border-style: solid;
  border-width: 0 6px 6px 6px;
}

.top-menu .up-arw {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}

.top-menu-space {
  height: 2em;
}

a.not-button, button.not-button {
  background: none;
  padding-left: 0;
  padding-right: 0;
  white-space: pre-wrap;
  text-align: start;
}

.display-line {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  margin: 0.5em auto;
}

.test-div {
  align-self: flex-end;
}

label::after {
  content: ':';
}

/*i.custom {
  height: 1.2em;
  width: 1.2em;
  color: white;
  background-color: #909090;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font: 1em all-petite-caps;
  line-height: 1.5em;
}*/

/* new-mark */

button.delete-item.pure-button {
  display: block;
  margin-top: 1em;
}

/* marks */

span.time {
  display: block;
  font-size: 0.8em;
  color: #909090;
}

.display-line.marks{
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding: 1em 0;
  margin: 0;
}

.display-line.marks > .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

/* 任务详情管理页面 */

.all-items {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding-left: 10%;
}

.all-items > span {
  width: 90%;
  display: inline-block;
  text-align: right;
  font-size: 1.3em;
}

.all-items span.top {
  padding-top: 1em;
}

.all-items span.bottom {
  padding-bottom: 1em;
}

.all-items li {
  line-height: 2.5em;
}

.all-items li.selected {
  background-color: deepskyblue;
  position: relative;
  left: -15%;
  padding-left: 15%;
  list-style: none;
}

.button-list > .pure-button {
  margin-bottom: 1em;
}

/* 用户 mark 页面 */

.mark-page span.grading {
  color: gray;
}

.mark-page input {
  margin: 1em 0;
}

.mark-page .pure-form select {
  height: 2.5em;
}
