body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bottom-space {
  margin-bottom: 1em;
}

legend {
  font-size: 1.2em;
}

legend.top-space {
  padding-top: 1.6em;
}

.hidden {
  display: none;
}
